body {
  margin: 0;
  background: radial-gradient(circle,#050505,#000);
  color: #00ff88;
  font-family: monospace;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.terminal {
  width:90%;
  max-width:700px;
  border:1px solid #00ff88;
  box-shadow:0 0 25px #00ff8855;
  padding:15px;
  border-radius:12px;
}

.header {
  text-align:center;
  margin-bottom:10px;
}

#output {
  min-height:300px;
  white-space:pre-wrap;
}

.input-line {
  display:flex;
}

input {
  flex:1;
  background:transparent;
  border:none;
  outline:none;
  color:#00ff88;
}
